* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 60%;
}
.notesTable {
  width: 100%;
  height: 100%;
  border-collapse: separate;
  padding: 2%;
  &__header {
    height: 15%;
    background-color: gray;
    border-collapse: collapse;
  }
  &__record {
    background-color: gainsboro;
    margin: 1%;
    text-align: center;
  }
}
.noteDialog {
  display: none;
  /* Add other styles as needed */
}
